body {
    width: 100%; 
    /* min-width: 600px;  */
    height: 100vh;
    /* min-height: 1000px; */
    font-family: Arial, sans-serif;
    background-image: url("https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/rick-and-morty-fan-art-chromebook-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    /* border: 2px solid pink; */
}
audio {
    display: none;
    background-color: rgb(179, 75, 75,0);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0);
}
.container {
    /* width: 100%; 
    /*max-width: 600px; 
    /* margin-left: 20px;
    margin-right: 80px;
    padding: 30px; */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0);
}
  
h1 {
    font-family: "DynaPuff", system-ui;
    font-weight: 700;
    font-size: 64px;
    font-style: bold;
    text-align: center;
    margin-bottom: 20px;
}

#question {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 40px;
    background: -webkit-linear-gradient(45deg, rgba(187, 7, 242), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px -1px white;
    /* text-shadow: -1px -1px 0 #FFFF, 1px -1px 0 #FFFF, -1px 1px 0 #FFFF, 1px 1px 0 #FFFF; */
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
}

#choices {
    
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 21px;
    background-color: rgb(52, 152, 219, 0.5);
    color: #fff;
    border: none;
    /* border-radius: 4px; */
    /* border: 2px solid pink; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #5997c1;
    border-radius: 80%;
}

/* #submit {
    margin: 20px auto;
    display: block;
} */

#result {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}







/* references
for button shape: https://www.csswand.dev/
background image: Rick and Morty fan art source: https://www.chromethemer.com/wallpapers/4k-wallpapers/4k-rick-and-morty-fan-art-wallpaper-hd.html */
