body {
    width: 100%; 
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/rick-and-morty-fan-art-chromebook-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
}
body::before {
    content: "Rick and Morty fan art";
    position: absolute;
    top: -9999px;
    left: -9999px;
    background-image: url("https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/rick-and-morty-fan-art-chromebook-wallpaper.jpg");
    /
}

audio {
    display: none;
    background-color: rgb(179, 75, 75,0);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0);
}
.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0);
}
  
h1 {
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 64px;
    font-style: bold;
    background: rgb(63,94,251);
    background: linear-gradient(56deg, rgb(63, 94, 251) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: center;
    margin-bottom: 20px;
}

#question {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 40px;
    background: rgb(253,187,45);
    background: radial-gradient(circle, rgba(253,187,45,1) 14%, rgba(47,34,195,0.6) 89%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
}

#choices {
    
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 21px;
    background-color: rgb(52, 152, 219, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #5997c1;
    border-radius: 80%;
}

#submit {
    margin: 20px auto;
    display: none;
} 

#result {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    margin-top: 20px;
}







/* references
for button shape: https://www.csswand.dev/
background image: Rick and Morty fan art source: https://www.chromethemer.com/wallpapers/4k-wallpapers/4k-rick-and-morty-fan-art-wallpaper-hd.html */
